body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: #688a68
}

.quem-somos{
    background-color: #aaaa;
    color: aliceblue;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgba(36, 4, 124, 0.667);
}

.bg-footer{
    background-color: black;
    color: aquamarine;
}